{% extends app.request.isXmlHttpRequest ? "cloudBundle::layout_ajax.html.twig" : "cloudBundle::layout.html.twig" %} 
{% block title %}
	MA311
{% endblock %}
{% block menu_principal %}
	 <div class="cuerpoCentrado" id="contMetro">
		<div id="ContAjax">
			<link rel="stylesheet" href="{{ asset('stylesheets/Ma3/Ma113/ma113.css') }}"/> 
			<div id="bloqueCgenerales" class="lima">
				<div class="fila">
					<div class="fila">
						<div class="botonRegresar alineacionPfct">
							{% block back %}
								<a href="{{ path('ma2') }}" class="ajax"><img src="{{ asset('images/b_atras.png') }}"/></a>
							{% endblock %}
						</div>
						<div id="ContTitulo" class="alineacionPfct">
							<p class="blancoFc">Plan de Estudios</p>
						</div>
					</div>
					<div class="fila descrip">
						<p class="blancoFc">Para hacer, editar o eliminar un plan de estudios escoja las opciones en los siguientes campos y haga click en siguiente</p>
					</div>
					<div class="fila" id="main">
						<div class="contenedorDerecha alineacionPfct">
							<div class="fila">
							<form action="{{ path('ma31') }}" method="post">
								<div id="periodo" class="alineacionPfct">
							 		<p class="blancoFc textoEtq">Periodo</p>
									{{form_errors(form.periodo)}}
		    						{{form_widget(form.periodo)}}
								</div>
								<div id="sede" class="alineacionPfct">
									<p class="blancoFc textoEtq">Sede</p>
									{{form_errors(form.sede)}}
		    						{{form_widget(form.sede)}}
								</div>
							</div>
							<div class="fila">
								<div class="alineacionPfct" id="curso">
									<p class="blancoFc textoEtq">Curso</p>
									{{form_errors(form.curso)}}
				    				{{form_widget(form.curso)}}
								</div>
							</div>
							<div class="fila">
								<div class="alineacionPfct" id="asignatura">
									<p class=" blancoFc textoEtq">Asignatura</p>
									{{form_errors(form.asignatura)}}
				    				{{form_widget(form.asignatura)}}
								</div>								
							</div>
							<div class="fila">							
		                    	<div class="alineacionPfct" id="actividades">
									<p class=" blancoFc textoEtq">Numero de Actividades</p>
									{{form_errors(form.nactividades)}}
				    				{{form_widget(form.nactividades)}}
								</div>
							</div>
						</div>
						<div class="contenedorIzq alineacionPfct">
							<div class="botonNext">
								<button type="submit">Siguiente</button>								
							</div>
						</form>
						<div class="Inicio blancoFc" ><a href="{{ path('ma') }}" class="ajax" >Inicio</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
