{% extends app.request.isXmlHttpRequest ? "cloudBundle::layout_ajax.html.twig" : "cloudBundle::layout.html.twig" %} 
{% block title %}
	MA312
{% endblock %}
{% block menu_principal %}
	<div class="cuerpoCentrado" id="contMetro">
		<div id="ContAjax">
			<link rel="stylesheet" href="{{ asset('stylesheets/Ma3/Ma312/ma312.css') }}"/>
			<div id="bloqueCgenerales">
				<div class="fila">
					<div class="botonRegresar alineacionPfct">
						{% block back %}
							<a href="{{ path('ma2') }}" class="ajax">
								<img src="{{ asset('images/b_atrasLima.png') }}"/>
							</a>
						{% endblock %}
					</div>
					<div id="ContTitulo" class="alineacionPfct limaFc">
						<p>Actividades primer periodo</p>
					</div>
					<div class="containerSupDer alineacionPfct">
						<div class="breadcumbr alineacionPfct">
						    <a href="{{ path('ma3') }}" class="ajax limaFc">
						    	Plan de estudios</a>
						</div>			
					</div>
				</div>
				<div class="fila">
					<div class="contenedorDerecha alineacionPfct">
						<div class="panelInf">
							<label>8</label>
							<label>1</label>
							<label>Mañana</label>
							<label>Principal</label>
						</div>
						<div class="Inicio" >
							<a href="{{ path('ma') }}" class="ajax limaFc">Inicio</a>
						</div>
					</div>
					<div class="contenedorIzq alineacionPfct">
						{% if entities is defined %}
						    <div id="content_1">
						    	<div class="pantalla">
								    {% for entity in entities %}
								        {% if entity.name == "Actividad" %}
								        	<div class="nivel">
								        		<a href="{{ path('ma313', {'id2': entity.id , 'id':id}) }}" class="ajax">
								        			<p class="primera signoUp">+</p>
								        			<p class="titulocajas textoBlanco">{{entity.name}}</p>
								        		</a>
								        	</div>
								        {% else %}
	                      					<div class="nivel letra">
	                      						<a href="{{ path('ma313', {'id2': entity.id , 'id':id}) }}" class="ajax">
	                      							<p class="titulocajas primera">{{entity.name}}</p>
	                      							<p class="signoUp textoBlanco">{{entity.name}}</p>
	                      						</a>
	                      					</div>
	                      				{% endif %}
	                      			{% endfor %}
	                      			<script type="text/javascript">
	                      				$(document).on("ready",iniciar);
	                      					function iniciar(){
	                      						$(".letra .primera").each( function(index){
	                      							var nombre = $(this).text();
	                      							$(this).html( nombre[0] )
	                      						})
	                      					}
	                      			</script>
	                      		</div>
	                      	{% else %}
							    <p>No tienes actividades</p>
							{% endif %}
						</div>
						<div id="botonesDow">
		                    <ul>
		                        <li>
		                           	<button class="botonesDw blanco" type="submit">
		                           		Guardar
		                           	</button>
		                        </li>
		                        <li>
		                            <input  class="botonesDw blanco" type="button" value="Limpiar" onClick="limpiaForm('#formularioInst form')">
		                        </li>
		                        <li>
		                            <input  class="botonesDw blanco ocultarOverlay" type="button" value="Cancelar">
		                        </li>
		                    </ul>
		                </div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
