{% block menu_principal %}
<div id="ContAjax">
    <link rel="stylesheet" href="{{ asset('stylesheets/MenuAdmin.css') }}"/> 
        <div id="CsuperiorIzq">
                <div id="confSitema" class="itemMenu slide boxMPA caja1MPA azul">
                    <div>
                        <p class="textoMPA TexLeft">Ajustes <br/> del Sistema</p>
                    </div>
                    <a href="{{ path('ma1') }}" class="ajax">
                        <img src="{{ asset('images/botones/b_ajustes.png') }}"/>
                    </a>
                </div>
            <div id="Estaditicas" class="itemMenu slide boxMPA caja2MPA rojo">
                <div>
                    <p class="textoMPA TexCentro">Estadisticas</p>                
                </div>
                <a href="#" class="ajax">
                    <img src="{{ asset('images/botones/b_ajustes.png') }}"/>
                </a>
            </div>
            <div id="planEstudios" class="itemMenu slide boxMPA caja2MPA lima">
                <div>
                    <p class="textoMPA TexLeft">Plan <br/>de estudios</p>
                </div>
                <a href="{{ path('planes1') }}" class="ajax">
                    <img src="{{ asset('images/botones/b_ajustes.png') }}"/>
                </a>
            </div>
        </div>
        <div id="CsuperiorDer">
                <div id="admacademica" class="itemMenu slide boxMPA caja3MPA fucsia">
                    <div>
                        <p class="textoMPA TexLeft">Administraci&oacute;n<br/>academica</p>
                    </div>
                    <a href="#">
                        <img src="{{ asset('images/botones/b_ajustes.png') }}"/>
                    </a>
                </div>
                <div id="obsevaciones" class="itemMenu slide boxMPA caja2MPA naranja">
                    <div>
                        <p class="textoMPA TexCentro">Obsevaciones</p>
                    </div>
                    <a href="#">
                        <img src="{{ asset('images/botones/b_ajustes.png') }}"/>
                    </a>
                </div>
                <div id="organizador" class="itemMenu slide boxMPA caja2MPA morado">
                    <div>
                        <p class="textoMPA TexCentro">Organizador</p>            
                    </div>
                    <a href="#">
                        <img src="{{ asset('images/botones/b_ajustes.png') }}"/>
                    </a>      
                </div>
        </div>
        <div id="CinferiorIzq">
                <div id="admPersonas" class="itemMenu slide boxMPA caja4MPA amarillo ">
                    <div>
                        <p class="textoMPA TexLeft">Administraci&oacute;n<br/> de Personas</p>
                    </div>
                    <a href="{{ path('ma2') }}" class="ajax">
                        <img src="{{ asset('images/botones/b_ajustes.png') }}"/>
                    </a>
                </div>
                <div id="perfil" class="itemMenu slide boxMPA caja5MPA verdeLight">
                    <div>
                        <p class="textoMPA TexCentro">Perfil</p>
                    </div>
                    <a href="#">
                        <img src="{{ asset('images/botones/b_ajustes.png') }}"/>
                    </a>
                </div>
        </div>
        <div id="CinferiorDer">
                <div id="tutoriales" class="itemMenu slide boxMPA caja5MPA verdeDark ">
                    <div>
                        <p class="textoMPA TexCentro">Tutoriales</p>             
                    </div>
                    <a href="#">
                        <img src="{{ asset('images/botones/b_ajustes.png') }}"/>
                    </a>
                </div>
                <div id="aulaVirtual" class="itemMenu slide boxMPA caja6MPA gris">
                    <div>
                        <p class="textoMPA TexCentro">Aula Virtual</p>           
                    </div>
                    <a href="#">
                        <img src="{{ asset('images/botones/b_ajustes.png') }}"/>
                    </a>
                </div>
        </div>
</div>
{% endblock %}