<h1>PerfilDocente</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Apellido</th>
            <td>{{ entity.apellido }}</td>
        </tr>
        <tr>
            <th>Fecha_nacimiento</th>
            <td>{{ entity.fechanacimiento|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Direccion</th>
            <td>{{ entity.direccion }}</td>
        </tr>
        <tr>
            <th>Lugar_nacimiento</th>
            <td>{{ entity.lugarnacimiento }}</td>
        </tr>
        <tr>
            <th>Nmr_documento</th>
            <td>{{ entity.nmrdocumento }}</td>
        </tr>
        <tr>
            <th>De</th>
            <td>{{ entity.de }}</td>
        </tr>
        <tr>
            <th>Sexo</th>
            <td>{{ entity.sexo }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Barrio</th>
            <td>{{ entity.barrio }}</td>
        </tr>
        <tr>
            <th>Estrato</th>
            <td>{{ entity.estrato }}</td>
        </tr>
        <tr>
            <th>Telefono</th>
            <td>{{ entity.telefono }}</td>
        </tr>
        <tr>
            <th>Celular</th>
            <td>{{ entity.celular }}</td>
        </tr>
        <tr>
            <th>Personas_cargo</th>
            <td>{{ entity.personascargo }}</td>
        </tr>
        <tr>
            <th>Titulo_profesional</th>
            <td>{{ entity.tituloprofesional }}</td>
        </tr>
        <tr>
            <th>Anios_experienca</th>
            <td>{{ entity.aniosexperienca }}</td>
        </tr>
        <tr>
            <th>Fecha_ingreso</th>
            <td>{{ entity.fechaingreso|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Salario</th>
            <td>{{ entity.salario }}</td>
        </tr>
        <tr>
            <th>Tipo_contrado</th>
            <td>{{ entity.tipocontrado }}</td>
        </tr>
        <tr>
            <th>Numero_contrado</th>
            <td>{{ entity.numerocontrado }}</td>
        </tr>
        <tr>
            <th>Titulo_pregrado</th>
            <td>{{ entity.titulopregrado }}</td>
        </tr>
        <tr>
            <th>Titulo_postgrado</th>
            <td>{{ entity.titulopostgrado }}</td>
        </tr>
        <tr>
            <th>Especialidad</th>
            <td>{{ entity.especialidad }}</td>
        </tr>
        <tr>
            <th>Escalafon</th>
            <td>{{ entity.escalafon }}</td>
        </tr>
        <tr>
            <th>Resolucion</th>
            <td>{{ entity.resolucion }}</td>
        </tr>
        <tr>
            <th>Fecha_resolucion</th>
            <td>{{ entity.fecharesolucion|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admincloud_perfildocente') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admincloud_perfildocente_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admincloud_perfildocente_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
