<!DOCTYPE html PUBLIC>
<html lang="es">
  <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
      <meta name="viewport" content="width=device-width , initial-scale=1 ,maximum-scale=1" />
      <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
      <meta name="author" content="TheKingTork" />
      <link rel="stylesheet" href="{{ asset( 'stylesheets/normalize.css') }}"/>
      <link rel="stylesheet" href="{{ asset('stylesheets/base.css') }}"/>  
      <link rel="stylesheet" href="{{ asset('stylesheets/login.css') }}"/>    
      <title>Bienvenido</title>
  </head>
  <body>   
      <header class="contenidoFull" id="loginheader">
        <section class="cuerpoCentrado">
          <div class="bienvenida">
            <p>Bienvenidos a la Plataforma Cloud School</p>
          </div>
        </section>
      </header>
      <section class="cuerpoCentrado">
        <div class="alineacionPfct Cont-Mod-Aut">
          <div id="generadorCode">
              {% block mod_autenticacion %}
                {% include "cloudBundle::mod_autenticion.html.twig" %}
              {% endblock %}
          </div>
        </div>
        <div class="alineacionPfct Cont-Mod-Login">
           <div id="bloqueLogin">
              <form action="{{ path('login_check') }}" method="post">
                <ul>
                  <li>
                    <label for="username">Usuario:</label>
                    <input id="username" type="text" name="_username" value="{{ last_username }}"/> 
                  </li>
                  <li>
                    <label for="password">Contrase&ntilde;a:</label>
                    <input id="password" type="password" name="_password"/> 
                  </li>
                </ul>
                <div class="botonesEnvio">
                  <input type="submit" name="login" value="Ingresar"/>
                  <input type="button" value="Limpiar" />             
                </div>
              </form>
              {% if error %}
                <div class="error">
                  {# error.message #}
                </div>
              {% endif %}
          </div>
        </div>
      </section>
  </body>
</html>
