{% extends app.request.isXmlHttpRequest ? "cloudBundle::layout_ajax.html.twig" : "cloudBundle::layout.html.twig" %} 
{% block title %}
	MA2
{% endblock %}
 	{% block menu_principal %}
		<div id="ContAjax">
			<link rel="stylesheet" href="{{ asset('stylesheets/Ma2/ma2.css') }}"/> 
			<div id="bloqueCgenerales" class="amarillo">
				<div id="contenidoIzq">
					<div class="botonRegresar">
						{% block back %}
							<a href="{{ path('ma') }}" class="ajax"><img src="{{ asset('images/b_atras.png') }}"></a>
						{% endblock %}
					</div>
					<div id="ContTitulo">
						<p>Aministración de personas</p>
					</div>
				</div>
				<div id="contenidoDer">
					<div id="menuAux">
						<ul>
							<li><a href="{{ path('ma21') }}" class="ajax" >Estudiantes</a></li>
							<li><a href="{{ path('ma22') }}" class="ajax" >Docentes</a></li>
							<li><a href="{{ path('ma2') }}" class="ajax" >Directivos</a></li>
							<li><a href="{{ path('ma2') }}" class="ajax" >Gestion de cuentas</a></li>
						</ul>
					</div>
				</div>
                <div class="Inicio" ><a href="{{ path('ma') }}" class="ajax">Inicio</a></div>
			</div>
		</div>		
{% endblock %}

