{% extends app.request.isXmlHttpRequest ? "cloudBundle::layout_ajax.html.twig" : "cloudBundle::layout.html.twig" %} 
{% block title %}
	MA212
{% endblock %}
 	{% block menu_principal %}
		<div id="ContAjax">
			<link rel="stylesheet" href="{{ asset('stylesheets/Ma2/Ma212/ma212.css') }}"/> 
			<div id="bloqueCgenerales" data-color="amarillo">
				<div class="fila">
					<div class="botonRegresar alineacionPfct">
						{% block back %}
							<a href="{{ path('ma2') }}" class="ajax"><img src="{{ asset('images/b_atrasNegro.png') }}"/></a>
						{% endblock %}
					</div>
					<div id="ContTitulo" class="alineacionPfct">
						<p>Estudiantes</p>
					</div>
					<div class="containerSupDer alineacionPfct">
						<div class="breadcumbr alineacionPfct">
						    <a href="{{ path('ma2') }}" class="ajax">Administración de personas</a>
						</div>			
					</div>
				</div>
				<div class="fila">
					<div class="contenedorDerecha alineacionPfct">
						<a href="{{ path('ma211') }}" class="ajax">
							<div class="contImg">
								<img src="{{ asset('images/b_agregarNegro.png') }}">
							</div>
							<div class="addEst negroFC">
								<label>agregar Estudiante</label>
							</div>
						</a>
						<div class="Inicio" >
							<a href="{{ path('ma') }}" class="ajax">Inicio</a>
						</div>
					</div>
					<div class="contenedorIzq alineacionPfct">
						{% if perfiles is defined %}
						<div id="content_1">
							<div class="pantalla">
								{% for i in 0..9 %}
									<div class="cuadro">
										<figure>
											<img src="{{ asset('upload/perfil/chica.jpg')}}" alt="Perfil imagen" width="100%" height="100%">
											<div class="nombre">
												<div class="grado alineacionPfct">
													<label >9</label>
													<div class="curso">
														<label>1</label>
													</div>
												</div>
												<div class="name alineacionPfct">
													<p>Estudiante Anonimus</p>
												</div>
											</div>
										</figure>
									</div>							
							{% endfor %}
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>	
		</div>
{% endblock %}

