{% extends app.request.isXmlHttpRequest ? "cloudBundle::layout_ajax.html.twig" : "cloudBundle::layout.html.twig" %} 
{% block title %}
	MA22
{% endblock %}
 	{% block menu_principal %}
		<div id="ContAjax">
			<link rel="stylesheet" href="{{ asset('stylesheets/Ma2/Ma21/ma21.css') }}"/> 
			<div id="bloqueCgenerales" class="amarillo">
				<div class="contEneDor">
					<div class="botonRegresar">
						{% block back %}
							<a href="{{ path('ma2') }}" class="ajax"><img src="{{ asset('images/b_atras.png') }}"></a>
						{% endblock %}
					</div>
					<div id="ContTitulo">
						<p>Estudiantes</p>
					</div>
					<div id="contDerecho">
					    <div class="breadcumbr">
						    <a href="{{ path('ma1') }}" class="ajax">Administración de personas</a>
						</div>
						<div id="buscador">
							<input type="search" name="search_user" id="search_user" placeholder="Buscar">
						</div>
					</div>
				</div>
				<div class="contEneDor">
					<div id="leyenda">
						<p>Usted no ha ingresado ningun estudiante al sistema de clic en ingresar...</p>
					<a href="{{ path('ma22') }}" class="ajax">Crear</a>
					</div>
				</div>
				<div class="contEneDor">
					<div class="Inicio" ><a href="{{ path('ma') }}" class="ajax">Inicio</a></div>
				</div>
			</div>
		</div>		
{% endblock %}

