{% extends app.request.isXmlHttpRequest ? "cloudBundle::layout_ajax.html.twig" : "cloudBundle::layout.html.twig" %} 
{% block title %}
	MA1121
{% endblock %}
{% block menu_principal %}
	 <div class="cuerpoCentrado" id="contMetro">
	 	<div id="ContAjax">
	 		<link rel="stylesheet" href="{{ asset('stylesheets/Ma1/Ma1121/ma1121.css') }}"/> 
			<div id="bloqueCgenerales">
				<div id="contenidoIzq">
					<div class="botonRegresar">
						{% block back %}
							<a href="{{ path('ma112') }}" class="ajax"><img src="{{ asset('images/b_atras_blue.png') }}"></a>
						{% endblock %}
					</div>
					<div id="avatarInst">
						<div id="contAvatar">
							<img src="{{ asset('images/Examinar.png') }}" alt="">
						</div>
						<div id="cargador">
							<img src="{{ asset('images/b_examinar.png') }}">
						</div>
					</div>
					<div class="InicioBlue" ><a href="{{ path('ma') }}" class="ajax" >Inicio</a></div>
				</div>
				<div id="contenidoDer">
	                <div class="breadcumbrBlue ">
	                	<a href="{{ path('ma1') }}" class="ajax ">Ajustes del sistema</a>
	                </div>
					<div id="TituloSecction">
						<label>Informaci&oacute;n General</label>
					</div>   
				</div>
			</div>
		</div>
		 {% block notificaciones %}         
                {% include "cloudBundle::layout_notificaciones.html.twig" %}
             {% endblock notificaciones %}
	</div>
{% endblock %}