{% extends app.request.isXmlHttpRequest ? "cloudBundle::layout_ajax.html.twig" : "cloudBundle::layout.html.twig" %} 
{% block title %}
	MA1131
{% endblock %}
{% block menu_principal %}
<script>
$(document).on("ready",iniciar)

function iniciar(){
		$("#boton_codigo button").click( function(e){
			//se dejara el alert?
		alert("Espere su codigo de verificacion en sus notificaciones cloud")
		$("#boton_codigo").css("display","none")
		$("#input_codigo").css("display","inline-block")

		$.ajax({
			url: "{{ path('codigo_verificacion') }}",
			type: 'POST',
			data: { 'modulo' : '1'},
			success: function (r) {
				console.log(r)
				$("#contenidoN").html(r + $("#contenidoN").html() );
			},
			error: function(e,_error,otroobj){
				console.log("error")
				console.log(_error)
			}
        });
	})

		$(".ocultarOverlay").click( function(){
          $(".overlay").css("display","none")
          console.log("ocultarOverlay")
        })

	$("#boton_enviar").click( function(){

		$.ajax({
			url: "{{ path('valid_user') }}",
			type: 'POST',
			data: { "user" : $("#user").attr('value'),
					 "password" : $("#password").attr('value'),
					  'codigo': $("#codigo").attr('value')  },
			success: function (r) {

				if (r == 1) 
					{	
						//Quitar la linea siguiente y poner ventana emergente
						//$("#form_user_validacion").css("display","none")
						$(".overlay").css("display","block")
					}
					else
					{
						//Ventana emergente;
						alert("Datos Incorrectos")
					}
			},
			error: function(e,error){
				console.log("error")
				console.log(error)
			}
        });
        
	})
}
</script>
		<div id="ContAjax">
			<link rel="stylesheet" href="{{ asset('stylesheets/Ma1/Ma1131/ma1131.css') }}"/> 
			<div id="bloqueCgenerales" class="azul">
				<div id="contenidoIzq">
					<div class="botonRegresar">
						{% block back %}
							<a href="{{ path('ma113') }}" class="ajax" ><img src="{{ asset('images/b_atras.png') }}"></a>
						{% endblock %}
					</div>
					<div id="tituloApAn">
						<p>Apertura de A&ntilde;os</p>
					</div>
					<div id="conf">
						<div id="form_user_validacion">
                            <div class="tituloitem">
                                <p>Digite su usuario</p>
                                <input type="text" name="user" id="user">
                            </div>
                            <div class="tituloitem">
                                <p for="password">Digite su contraseña</p>
                                <input type="password" name="password" id="password">
                            </div>
                            <div class="tituloitem" id="boton_codigo">
                                <p>Solicite su codigo de verificacion</p>
                                <button class="lima">Generar Codigo</button>
                            </div>
                            <div class="tituloitem" id="input_codigo" style="display:none">
                                <p>Digite su codigo de verificacion</p>
                                <input type="text" name="codigo" id="codigo">
                            </div>
                            <div id="contBotones">
	                            <div id="boton_enviar">
	                                <button >Guardar</button>
	                            </div>
	                            <div id="contLinks">
	                            	<a href="#" onclick="limpiaForm('#conf form'), limpiaForm('#form_Rangos')">Limpiar</a>
	                            	<a href="#">Cancelar</a>
	                            </div>
                        	</div>
                        </div>
					</div>
				</div>
				<div id="contenidoDer">
					<div class="breadcumbr">
						<a href="{{ path('ma113') }}" class="ajax" >Ajustes del Sistema</a>
					</div>
					<div id="modAut">
                    	{% block mod_autenticacion %}
                        	{% include "cloudBundle::mod_autenticion.html.twig" %}
                    	{% endblock %}
                    </div>
                    <div class="Inicio" >
                    	<a href="{{ path('ma') }}" class="ajax" >Inicio</a>
                    </div>
				</div>
				<!-- Ventana emergente -->
						 <div class="overlay">
			                    <div class="formOverlay lima">
			                        <form action="{{path('ma1131_create')}}" method="post">
			                            <div class="linea">
			                                <div class="titulo">
			                                    <p>Ingresar nombre del año</p>
			                                </div>
			                            </div>
			                            <div class="linea">
			                                <div class="entrada">
			                                   {{form_errors(form.name)}}
				    							{{form_widget(form.name)}}
			                                </div>
			                            </div>
			                            <div class="linea">
			                                <div id="botonesDow">
			                                    <ul>
			                                        <li>
			                                            <button class="botonesDw blanco" type="submit">Guardar</button>
			                                        </li>
			                                        <li>
			                                            <input  class="botonesDw blanco" type="button" value="Limpiar" onClick="limpiaForm('#formularioInst form')">
			                                        </li>
			                                        <li>
			                                            <input  class="botonesDw blanco ocultarOverlay" type="button" value="Cancelar">
			                                        </li>
			                                    </ul>
			                                </div>
			                            </div>
			                        </form>
			                    </div>
			                </div>
			        <!-- Ventana emergente -->
			</div>
		</div>
		 {% block notificaciones %}         
                {% include "cloudBundle::layout_notificaciones.html.twig" %}
             {% endblock notificaciones %}
	<div class="cuerpoCentrado" id="footer">
        	{% block menu_colores %}
          		{% include "cloudBundle::menuColores.html.twig" %}
        	{% endblock %}
    </div>
{% endblock %}
