{% extends app.request.isXmlHttpRequest ? "cloudBundle::layout_ajax.html.twig" : "cloudBundle::layout.html.twig" %} 
{% block title %}
	MA11312
{% endblock %}
{% block menu_principal %}
		<div id="ContAjax">
			<link rel="stylesheet" href="{{ asset('stylesheets/Ma1/Ma11312/ma11312.css') }}"/>
			<div id="bloqueCgenerales" class="blanco">
				<div id="contenidoIzq">
					<div class="botonRegresar">
						{% block back %}
							<a href="{{ path('ma113') }}" class="ajax" >
								<img src="{{ asset('images/b_atras_blue.png') }}">
							</a>
						{% endblock %}
					</div>
					<div class="InicioBlue" ><a href="{{ path('ma') }}" class="ajax" >Inicio</a></div>
				</div>
				<div id="contenidoDer">
					<div class="breadcumbrBlue">
						<a href="{{ path('ma1') }}" class="ajax">Ajustes del sistema</a>
					</div>
					<div id="TituloSecction">
						<label>A&ntilde;os guardados</label>
					</div>
					<div id="content_1">
							{% for anio in entity_anio %}
								<div class="anio"><p>{{ anio }}</p></div>
							{% endfor %}
					</div>
					<div id="botonesDow">
						<ul>
							<li>
								<button class="botonesDw" type="submit">Guardar</button>
							</li>
							<li>
								<input  class="botonesDw" type="button" value="Limpiar" onClick="limpiaForm('#formularioInst form')">
							</li>
							<li>
								<input  class="botonesDw" type="button" value="Eliminar">
							</li>
						</ul>
					</div>
				</div>
			</div>
		<script >
				(function($){
					$(window).load(function(){
						$("#content_1").mCustomScrollbar({
							horizontalScroll:true,
							scrollButtons:{
								enable:false,
								scrollType:"continuous",
								scrollSpeed:20,
								scrollAmount:40
							},
							advanced:{
								autoExpandHorizontalScroll:true,
							},
						});
					});
				})(jQuery);
			</script>
		
		</div>
{% endblock %}
