{% extends app.request.isXmlHttpRequest ? "cloudBundle::layout_ajax.html.twig" : "cloudBundle::layout.html.twig" %} 
{% block title %}
	MA1132
{% endblock %}
{% block menu_principal %}
		<div id="ContAjax">
<script type="text/javascript" src="{{ asset('javascripts/jquery.overlay.js') }}"></script>
<script>
$(document).on("ready",iniciar)

function iniciar(){
		console.log("iniciar")
		$("#boton_codigo button").click( function(e){
		alert("Espere su codigo de verificacion en sus notificaciones cloud")
		$("#boton_codigo").css("display","none")
		$("#input_codigo").css("display","inline-block")
		$.ajax({ 
			url: "{{ path('codigo_verificacion') }}",
			type: 'POST',
			data: { "modulo":"2" } ,
			success: function (r) {
				$("#contenidoN").html(r + $("#contenidoN").html() );
			},
			error: function(e,error){
				console.log("error")
				console.log(error)
			}
        });
	}) 

	$("#boton_enviar").click( function(){ 

		$.ajax({
			url: "{{ path('valid_user') }}",
			type: 'POST',
			data: { "user" : $("#user").attr('value'),
					 "password" : $("#password").attr('value'),
					 'codigo' :  $("#codigo").attr('value') 
				},
			success: function (r) {

				console.log(r)
				if (r == 1) 
					{	
						//Quitar la linea siguiente y poner la ventana emergente
						console.log("Inscripciones abiertas");
						$.ajax({
							url: "{{ path('crear_inscripcion') }}",
							type: 'POST',
							success: function (r) {
								if (r == 1) 
								{
									window.location.href = "{{ path('ma1132') }}" 
								}
							}
						});
					}
					else
					{
						//Ventana emergente;
						alert("Datos Incorrectos")
					}
			},
			error: function(e,error){
				console.log("error")
				console.log(error)
			}
        });
        
	})
}
</script>


			<link rel="stylesheet" href="{{ asset('stylesheets/Ma1/Ma1132/ma1132.css') }}"/> 
			<div id="bloqueCgenerales">
				<div id="contenidoIzq">
					<div class="botonRegresar">
						{% block back %}
							<a href="{{ path('ma113') }}" class="ajax" ><img src="{{ asset('images/b_atras.png') }}"></a>
						{% endblock %}
					</div>
					<div id="tituloApAn">
						<p>Apertura de Inscripciones</p>
					</div>
					<div id="conf">
						<div id="form_user_validacion">
							<div class="tituloitem">
                                <p>Digite su usuario</p>
                                <input type="text" name="user" id="user">
                            </div>
							<div class="tituloitem">
                                <p for="password">Digite su contraseña</p>
                                <input type="password" name="password" id="password">
                            </div>
                            <div class="tituloitem" id="boton_codigo">
                                <p>Solicite su codigo de verificacion</p>
                                <button class="lima">Generar Codigo</button>
                            </div>
                            <div class="tituloitem" id="input_codigo" style="display:none">
                                <p>Digite su codigo de verificacion</p>
                                <input type="text" name="codigo" id="codigo">
                            </div>
                            <div id="contBotones">
	                            <div id="boton_enviar">
	                                <button >Guardar</button>
	                            </div>
	                            <div id="contLinks">
	                            	<a href="#" onclick="limpiaForm('#conf form'), limpiaForm('#form_Rangos')">Limpiar</a>
	                            	<a href="{{ path('ma113') }}" class="ajax">Cancelar</a>
	                            </div>
                        	</div>
						</div>
					</div>	
				</div>
				<div id="contenidoDer">
					<div class="breadcumbr"><a href="{{ path('ma113') }}" class="ajax" >Ajustes del Sistema</a></div>
					<div id="modAut">
                    	{% block mod_autenticacion %}
                        	{% include "cloudBundle::mod_autenticion.html.twig" %}
                    	{% endblock %}
                    </div>
				</div>
			</div>
		</div>
{% endblock %}
