{% extends app.request.isXmlHttpRequest ? "cloudBundle::layout_ajax.html.twig" : "cloudBundle::layout.html.twig" %} 
{% block title %}
	MA1121
{% endblock %}
{% block menu_principal %}
	 	<div id="ContAjax">
	 		<link rel="stylesheet" href="{{ asset('stylesheets/Ma1/Ma1121/ma1121.css') }}"/> 
			<div id="bloqueCgenerales">
				<div id="contenidoIzq">
					<div class="botonRegresar">
						{% block back %}
							<a href="{{ path('ma112') }}" class="ajax"><img src="{{ asset('images/b_atras_blue.png') }}"></a>
						{% endblock %}
					</div>
					<div id="avatarInst">
						<div id="contAvatar">
							<img src="{{ asset('upload/sede/') }}{{ entity.urlImagen }}" alt="Escudo sede">
						</div>
						<div id="cargador">
							<img src="{{ asset('images/b_examinar.png') }}">
						</div>
					</div>
					<div class="InicioBlue" ><a href="{{ path('ma') }}" class="ajax" >Inicio</a></div>
				</div>
				<div id="contenidoDer">
	                <div class="breadcumbrBlue ">
	                	<a href="{{ path('ma1') }}" class="ajax ">Ajustes del sistema</a>
	                </div>
					<div id="TituloSecction">
						<label>Informaci&oacute;n de Sede</label>
					</div>  
					<div id="formularioInst">
							<form action="{{ path('ma112_update',{ 'id' : entity.id }) }}" method="post" {{ form_enctype(form) }}>
								<div class="pantalla">
										<div class="fila">
											<div class="entradaTexto" id="nombre">
												<p class="textoEtq">Nombre</p>
													{{form_errors(form.name)}}
					    							{{form_widget(form.name)}}	
											</div>
										</div>
										<div class="fila">
											<div id="direccion" class="entradaTexto">
												<p class="textoEtq">Direcci&oacute;n</p>
												{{form_errors(form.direccion)}}
				    							{{form_widget(form.direccion)}}
											</div>
											<div id="fax" class="entradaTexto">
												<p class="textoEtq">Fax</p>
												{{form_errors(form.fax)}}
						    					{{form_widget(form.fax)}}
											</div>
										</div>
										<div class="fila">
											<div id="telefono" class="entradaTexto">
												<p class="textoEtq">Telefono</p>
												{{form_errors(form.telefono)}}
						    					{{form_widget(form.telefono)}}
											</div>
											<div class="item entradaTexto" id="email">
												<p class="textoEtq">E-mail</p>
												{{form_errors(form.email)}}
						    					{{form_widget(form.email)}}
											</div>
										</div>
										<div class="fila">
											<div class="entradaTexto"  id="cordinador">
												<p class="textoEtq">Coordinador(a)</p>
												{{form_errors(form.rector)}}
						    					{{form_widget(form.rector)}}
											</div>
										</div>
										<div class="fila">
											<div class="entradaTexto" id="secretario">
												<p class="textoEtq">Secretario(a)</p>
												{{form_errors(form.secretaria)}}
						    					{{form_widget(form.secretaria)}}								
											</div>
										</div>
										<div class="fila">
		                            	<div id="loadImg" class="">
		                                    <p class="textoEtq">Imagen</p>
		                                    {{form_errors(form.url_imagen)}}
		                                    {{form_widget(form.url_imagen)}}
		                            	</div>										
									</div>
									{{ form_rest(form) }}
								</div>
								<div id="botonesDow">
									<ul>
										<li>
											<button class="botonesDw" type="submit">Guardar</button>
										</li>
										<li>
											<input  class="botonesDw" type="button" value="Limpiar" onClick="limpiaForm('#formularioInst form')">
										</li>
										<li>
											<input  class="botonesDw" type="button" value="Eliminar">
										</li>
									</ul>
								</div>
							</form>
					</div>
				</div>
			</div>
		</div>
{% endblock %}