{% extends app.request.isXmlHttpRequest ? "cloudBundle::layout_ajax.html.twig" : "cloudBundle::layout.html.twig" %} 
{% block title %}
	MA11331
{% endblock %}
{% block menu_principal %}
		<div id="ContAjax">
			<link rel="stylesheet" href="{{ asset('stylesheets/Ma1/Ma11331/ma11331.css') }}"/>           
			<div id="bloqueCgenerales" class="blanco">
				<div id="contenidoIzq">
					<div class="botonRegresar">
						{% block back %}
							<a href="{{ path('ma1133') }}" class="ajax" ><img src="{{ asset('images/b_atras_blue.png') }}"/></a>
						{% endblock %}
					</div>
					<div id="tituloApAn">
						<p class="azulFc">Seleccionar un modelo de carnet para generar</p>
                        {{modCarnet.modelo}}
					</div>
					<div class="InicioBlue" ><a href="{{ path('ma') }}" class="ajax" >Inicio</a></div>
				</div>
				<div id="contenidoDer">
					<div class="breadcumbrBlue">
						<a href="{{ path('ma113')}}" class="ajax" >Ajustes del Sistema</a>
					</div>
					<div id="TituloSecction">
						<label>Generaci&oacute;n de Carnets</label>
					</div>
					<div id="content_1">
                        {%if modCarnet.modelo =='modelo1'%}
						<div class="cajaCarnet carnetTipo1 modelo">
							<div class="contIzq">
                                <span style="display: none;">modelo1</span>
								<img src="{{ asset('images/carnet.jpg') }}" alt="foto"/>
								<div class="nombreEst">
									<p class="texto"><span>Diana P.</span><br/>Espa&ntilde;a Gonzalez</p>
								</div>
							</div>
							<div class="contDer">
								<div class="filaNew">
									<p class="texto">Instituci&oacute;n educativa las Mercedes</p>
								</div>
								<div class="grado">
									<p class="texto">8</p>
								</div>
								<div class="cInf">
									<div class="filaNew">
										<div class="curso">
											<p class="texto">1</p>
										</div>
										<div class="jornada">
											<p class="texto">Jornada ma&ntilde;ana</p>
										</div>
									</div>
									<div class="filaNew">
										<div class="codigo">
											<img src="{{ asset('images/qr.png') }}" alt="Codigo"/>
										</div>
									</div>
								</div>
							</div>
						</div>
                        {% endif %}
                        
                        {%if modCarnet.modelo =='modelo2'%}
						<div class="cajaCarnet carnetTipo2 modelo">
							<div class="filaNew">
                            <span style="display: none;">modelo2</span>
								<p class="texto" id="TituloInst">Instituci&oacute;n educativa las Mercedes</p>
							</div>
							<div class="filaNew">
								<div class="contIzq">
									<div class="codigo">
										<img src="{{ asset('images/qr.png') }}" alt="Codigo"/>
									</div>
									<div class="infUser">
										<img src="{{ asset('images/carnet2.jpg') }}" alt="foto"/>
										<div class="nombreEst">
											<p class="texto"><span>Diana P.</span><br/>Espa&ntilde;a Gonzalez</p>
										</div>
									</div>
								</div>
								<div class="contDer">
									<div class="columnaInf">
										<div class="grado">
											<p class="texto">8</p>
										</div>
									</div>
									<div class="columnaInf">
										<div class="curso">
											<p class="texto">1</p>
										</div>
										<div class="jornada">
											<p class="texto">Jornada ma&ntilde;ana</p>
										</div>
									</div>
								</div>
							</div>
						</div>
                        {%endif%}
                        {%if modCarnet.modelo =='modelo3'%}
						<div class="cajaCarnet carnetTipo3 modelo">
							<div class="filaNew">
                            <span style="display: none;">modelo3</span>
								<p class="texto" id="TituloInst">
									Instituci&oacute;n educativa las Mercedes
								</p>
							</div>
							<div class="contIzq">
								<div class="columnaInf2">
									<div class="jornada rotar">
										<p class="texto">Jornada ma&ntilde;ana</p>
									</div>
								</div>
								<div class="grado">
									<p class="texto">8</p>
								</div>
							</div>
							<div class="contDer">
								<div class="curso">
									<p class="texto">1</p>
								</div>
								<div class="infUser">
										<img src="{{ asset('images/carnet2.jpg') }}" alt="foto"/>
									<div class="nombreEst">
										<p class="texto">
											<span>Diana P.</span><br/>Espa&ntilde;a Gonzalez
										</p>
									</div>
								</div>
								<div class="codigo">
									<img src="{{ asset('images/qr.png') }}" alt="Codigo"/>
								</div>
							</div>
						</div>
                        {%endif%}
                        {%if modCarnet.modelo =='modelo4'%}
						<div class="cajaCarnet carnetTipo4 modelo">
							<div class="filaNew">
                            <span style="display: none;">modelo4</span>
								<p class="texto" id="TituloInst">
									Instituci&oacute;n educativa las Mercedes
								</p>
							</div>
							<div class="columnaInf">
								<div class="infUser">
									<img src="{{ asset('images/carnet.jpg') }}" alt="foto"/>
									<div class="nombreEst">
										<p class="texto">
											<span>Diana</span><br/>Espa&ntilde;a G..
										</p>
									</div>
									<div class="jornada">
										<p class="texto">Jornada ma&ntilde;ana</p>
									</div>
								</div>
							</div>
							<div class="columnaInf">
								<div class="contIzq">
									<div class="grado">
										<p class="texto">8</p>
									</div>
									<div class="curso">
										<p class="texto">1</p>
									</div>
								</div>
								<div class="codigo">
									<img src="{{ asset('images/qr.png') }}" alt="Codigo"/>
								</div>
							</div>
						</div>
                        {%endif%}
					</div>
					<div id="botonesDow">
						<ul>
							<li>
								<button class="botonesDw azulFc" type="submit" id="">Seleccionar</button>
							</li>
							<li>
								<input  class="botonesDw azulFc" type="button" value="Cancelar"/>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
        <script >
				(function($){
					$(window).load(function(){
						$("#content_1").mCustomScrollbar({
							horizontalScroll:true,
							scrollButtons:{
								enable:false,
								scrollType:"continuous",
								scrollSpeed:20,
								scrollAmount:40
							},
							advanced:{
								autoExpandHorizontalScroll:true,
							},
						});
					});
				})(jQuery);
                $(document).ready(function(){
                    $('#content_1').on('click','.modelo', function(){
                        $('.modelo').removeClass('seleccion');
                        $(this).addClass('seleccion');
                                                                    
                    })
                    $('#botonesDow').on('click','#accionseleccionar',function(){
                        var codCarnet=$('#content_1').find('.seleccion').html();
                        var carnetSeleccionado=$('#content_1').find('.seleccion span').html();
                        console.log(carnetSeleccionado);
                        console.log(codCarnet);
                        if(carnetSeleccionado==null){
                            alert('Debe escoger un modelo');
                        }else{
                                $.ajax({
                                url:"{{path('ma1133')}}",
                                type:'POST',
                                data:{modelo:carnetSeleccionado,codigo:codCarnet},
                                success:function(){
                                    //console.log('Exito en la peticion')
                                    window.location="{{path('ma11331')}}"
                                    },
                                error:function(){
                                    alert('Error Ajax...')
                                    }
                                })
                        }
                        
                    })
                })
			</script>	
{% endblock %}
