{% extends app.request.isXmlHttpRequest ? "cloudBundle::layout_ajax.html.twig" : "cloudBundle::layout.html.twig" %} 
{% block title %}
	MA11
{% endblock %}
{% block menu_principal %}
	 <div class="cuerpoCentrado" id="contMetro">
		<div id="ContAjax">
			<link rel="stylesheet" href="{{ asset('stylesheets/Ma1/Ma11/ma11.css') }}"/> 
			<div id="bloqueCgenerales" class="azul">
                <div id="contenidoIzq">
                    <div class="botonRegresar">
                        {% block back %}
                            <a href="{{ path('ma1') }}" class="ajax"><img src="{{ asset('images/b_atras.png') }}"></a>
                        {% endblock %}
                    </div>
                    <div id="ContTitulo">
                        <p>Ajustes Generales</p>
                    </div>
                </div>
                <div id="contenidoDer">
                    <div class="breadcumbr"><a href="{{ path('ma1') }}" class="ajax">Ajustes del sistema</a></div>
                    <div id="menuAux">
                        <ul>
                            <li><a href="{{ path('ma111') }}">Infomaci&oacute;n General</a></li>
                            <li><a href="{{ path('gestionsede')}}" class="iniciar" id="gestion">Gesti&oacute;n de Sedes</a></li>
                            <li><a href="{{ path('ma113') }}" class="ajax" >Otros Ajustes</a></li>
                        </ul>
                    </div>
                    <div class="Inicio" ><a href="{{ path('ma') }}" class="ajax" >Inicio</a></div>
                </div>
                <div class="overlay">
                    <div class="formOverlay lima">
                        <form action="{{path('gestionsede')}}" method="post">
                            <div class="linea">
                                <div class="titulo">
                                    <p>Ingresar N&uacute;mero de sedes</p>
                                </div>
                            </div>
                            <div class="linea">
                                <div class="entrada">
                                    <input type="text" name="numsede" id="numsede" required/>
                                </div>
                            </div>
                            <div class="linea">
                                <div id="botonesDow">
                                    <ul>
                                        <li>
                                            <button class="botonesDw blanco" type="submit">Guardar</button>
                                        </li>
                                        <li>
                                            <input  class="botonesDw blanco" type="button" value="Limpiar" onClick="limpiaForm('#formularioInst form')">
                                        </li>
                                        <li>
                                            <input  class="botonesDw blanco ocultarOverlay" type="button" value="Cancelar">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        	{% block notificaciones %}         
                {% include "cloudBundle::layout_notificaciones.html.twig" %}
            {% endblock notificaciones %}
		</div>
		<div class="cuerpoCentrado" id="footer">
        	{% block menu_colores %}
          		{% include "cloudBundle::menuColores.html.twig" %}
        	{% endblock %}
    	</div>
    <script type="text/javascript" src="{{asset('javascripts/jquery.js')}}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            console.log('Soporte jQuey');
            var estado="{{estado|default('si')}}";
            $('.iniciar').click(function(e){
                if(estado=='nulo'){
                    e.preventDefault();
                    console.log('mostrar formulario')
                    $('.overlay').css('display','block')
                }
            })

        $(".ocultarOverlay").click( function(){
          $(".overlay").css("display","none")
          console.log("ocultarOverlay")
        })
        })
    </script>
{% endblock %}