{% extends app.request.isXmlHttpRequest ? "cloudBundle::layout_ajax.html.twig" : "cloudBundle::layout.html.twig" %} 
{% block title %}
	MA1131
{% endblock %}
{% block menu_principal %}
	 <div class="cuerpoCentrado" id="contMetro">
		<div id="ContAjax">
<script type="text/javascript" src="{{ asset('javascripts/jquery.overlay.js') }}"></script>
<script>
$(document).on("ready",iniciar)
		 var altoDocumento = $(document).height();
		  var anchoDocumento = $(document).width();

function iniciar(){
		console.log("iniciar")
		$("#boton_codigo button").click( function(e){
		alert("Espere su codigo de verificacion en sus notificaciones cloud")
		$("#boton_codigo").css("display","none")
		$("#input_codigo").css("display","inline-block")
		$.ajax({ 
			url: "{{ path('codigo_verificacion') }}",
			type: 'POST',
			data: { "modulo":"2" } ,
			success: function (r) {
				$("#contenidoN").html(r + $("#contenidoN").html() );
			},
			error: function(e,error){
				console.log("error")
				console.log(error)
			}
        });
	})

	$("#boton_enviar").click( function(){

		$.ajax({
			url: "{{ path('valid_user') }}",
			type: 'POST',
			data: { "user" : $("#user").attr('value'), "password" : $("#password").attr('value')  },
			success: function (r) {

				console.log(r)
				//Quitar la linea siguiente y poner el overlay
				if (r == 1) 
					{	
						alert("Inscripciones abiertas")
					}
					else
					{
						//Ventana emergente;
						alert("Datos Incorrectos")
					}
			},
			error: function(e,error){
				console.log("error")
				console.log(error)
			}
        });
        
	})
}
</script>


			<link rel="stylesheet" href="{{ asset('stylesheets/Ma1/Ma11/ma11.css') }}"/> 
			<div id="bloqueCgenerales">
				<div id="contenidoIzq">
					<div class="botonRegresar">
						{% block back %}
							<a href="{{ path('ma113') }}" class="ajax" ><img src="{{ asset('images/b_atras.png') }}"></a>
						{% endblock %}
					</div>
						
				</div>
				<div>
					 {% block mod_autenticacion %}
              {% include "cloudBundle::mod_autenticion.html.twig" %}
            {% endblock %}
				</div>
				<div id="contenidoDer">
					<div class="breadcumbr"><a href="{{ path('ma113') }}" class="ajax" >Ajustes del Sistema</a></div>
					<div id="menuAux">
						<div id="form_user_validacion">
							<div>
								<label for="user">
									Digite su usuario
								</label>
								<input type="text" name="user" id="user">
							</div>
							<div>
								<label for="password">Digite su contraseña</label>
								<input type="password" name="password" id="password">
							</div>
							<div id="boton_codigo">
								<label>
									solicite su codigo de verificacion
								</label>
								<button >Generar Codigo</button>
							</div>
							<div id="input_codigo" style="display:none">
								<label for="codigo">
									Digite su codigo de verificacion
								</label>
								<input type="text" name="codigo" id="codigo">
							</div>
							<div id="boton_enviar">
								<button >Guardar</button>
							</div>
						</div>
					</div>
                    <div class="Inicio" ><a href="{{ path('ma') }}" class="ajax" >Inicio</a></div>
				</div>
			</div>
		</div>
		 {% block notificaciones %}         
                {% include "cloudBundle::layout_notificaciones.html.twig" %}
             {% endblock notificaciones %}
	</div>
{% endblock %}
