{% extends app.request.isXmlHttpRequest ? "cloudBundle::layout_ajax.html.twig" : "cloudBundle::layout.html.twig" %} 
{% block title %}
    MA132
{% endblock %}
{% block menu_principal %}
        <div id="ContAjax">
            <link rel="stylesheet" href="{{ asset('stylesheets/Ma1/Ma13/ma13.css') }}"/> 
            <style type="text/css">
                .Inicio{
                    top:183px;
                }
            </style>            
            <div id="bloqueCgenerales" class="azul">
                <div id="contenidoIzq">
                    <div class="botonRegresar">
                        {% block back %}
                            <a href="{{ path('ma13') }}" class="ajax"><img src="{{ asset('images/b_atras.png') }}"/></a>
                        {% endblock %}
                    </div>
                    <div id="ContTitulo">
                        <p>Criterios academicos</p>
                    </div>
                </div>
                <div id="contenidoDer">
                    <div class="breadcumbr"><a href="{{ path('ma1') }}" class="ajax">Ajustes del sistema</a></div>
                    <div id="menuAux">
                        <ul>
                            <li><a href="{{ path('ma1321') }}" class="iniciar" >Crear Niveles</a></li>
                            <li><a href="{{ path('ma1322') }}">Asignar Grados</a></li>
                        </ul>
                    </div>
                    <div class="Inicio" ><a href="{{ path('ma') }}" class="ajax" >Inicio</a></div>
                </div>
                <div class="overlay">
				<div class="txt">
                    <div class="formOverlay lima">
                        <div class="txt">
                        <form action="{{path('ma1321')}}" method="post">
                            <div class="linea">
                                <div class="titulo">
                                    <p>Ingresar N&uacute;mero de niveles</p>
                                </div>
                            </div>
                            <div class="linea">
                                <div class="entrada">
                                    <input type="text" name="numsede" id="numsede" required/>
                                </div>
                            </div>
                            <div class="linea">
                                <div id="botonesDow">
                                    <ul>
                                        <li>
                                            <button class="botonesDw blanco" type="submit">Guardar</button>
                                        </li>
                                        <li>
                                            <input  class="botonesDw blanco" type="button" value="Limpiar" onClick="limpiaForm('#formularioInst form')">
                                        </li>
                                        <li>
                                            <input  class="botonesDw blanco ocultarOverlay" type="button" value="Cancelar">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
					</div>
                    </div>
                    <script>
                        $(document).ready(function(){
                            console.log('Soporte jQuey');
                            var estado="{{ estado|default('si')}}";
                            $('.iniciar').click(function(e){
                                e.preventDefault();
                                if(estado=='nulo'){
                                    console.log('mostrar formulario')
                                    $('.overlay').css('display','block')
                                }
                                else
                                {
                                    window.location.href = $(this).attr("href");
                                }
                            })

                        $(".ocultarOverlay").click( function(){
                          $(".overlay").css("display","none")
                          console.log("ocultarOverlay")
                        })
                        })
                    </script>
                </div>
            </div>
        </div>
    <script type="text/javascript" src="{{asset('javascripts/jquery.js')}}"></script>    
{% endblock %}