{% extends app.request.isXmlHttpRequest ? "cloudBundle::layout_ajax.html.twig" : "cloudBundle::layout.html.twig" %} 
{% block title %}
	MA131
{% endblock %}
{% block menu_principal %}
		<div id="ContAjax">
			<link rel="stylesheet" href="{{ asset('stylesheets/Ma1/Ma131/ma131.css') }}"/>  

			<div id="bloqueCgenerales" class="azul">
                <div class="fila">
                    <div class="botonRegresar alineacionPfct">
                        {% block back %}
                            <a href="{{ path('ma13') }}" class="ajax"><img src="{{ asset('images/b_atras.png') }}"></a>
                        {% endblock %}
                    </div>
                    <div id="ContTitulo" class="alineacionPfct">
                        <p>Periodos Academicos</p>
                    </div>                      
					<div class="breadcumbr alineacionPfct">
                        <a href="{{ path('ma1') }}" class="ajax">Ajustes del sistema</a>
                    </div>
                </div>
                <div class="fila">
                     {% if requeriment is defined %}
                        {% if mje is defined %}
                            {{ mje }}                        
                        {% elseif form is defined %}
                            <div class="fila">
                                <div class="TituloPer alineacionPfct">
                                    <p>Periodo</p>
                                </div>
                                <div class="fechasPer alineacionPfct">
                                    <div class="subT alineacionPfct">
                                        <p><span>Inicio</span></p>
                                        <div class="alineacionPfct">
                                            <p>Mes</p>
                                        </div>
                                        <div class="alineacionPfct">
                                            <p>Dia</p>
                                        </div>
                                    </div>
                                    <div class="subT alineacionPfct">
                                        <p><span>Final</span></p>
                                        <div class="alineacionPfct">
                                            <p>Mes</p>
                                        </div>
                                        <div class="alineacionPfct">
                                            <p>Dia</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="estadoPer alineacionPfct">
                                    <p>Estado</p>
                                </div>
                                <div class="porcentajP alineacionPfct">
                                    <p>%</p>
                                </div>
                                <div class="NotasP alineacionPfct">
                                    <p><span>N° notas</span></p>
                                    <div class="subT alineacionPfct">
                                        <p>Min</p>
                                    </div>
                                    <div class="subT alineacionPfct">
                                        <p>Max</p>
                                    </div>
                                </div>
                            </div>
                            {% for periodo in form %}
                                <form action="{{ path('ma1311',{ id : loop.index }) }}" method="post">
                                    <div class="fila">
                                        <div class="periodo alineacionPfct">
                                            <p>{{ loop.index }}</p>
                                        </div>
                                        <div class="alineacionPfct fechasPer">
                                            <div class="subT alineacionPfct">
                                                {{form_errors(periodo.periodo_inicio)}}
                                                {{ form_widget(periodo.periodo_inicio) }}                                                
                                            </div>
                                            <div class="subT alineacionPfct">
                                                {{form_errors(periodo.periodo_final)}}
                                                {{ form_widget(periodo.periodo_final) }}
                                            </div>
                                        </div>
                                        <div class="estadoPer alineacionPfct">
                                            <label>Completo</label>
                                        </div>
                                        <div class="porcentajP alineacionPfct">
                                            {{form_errors(periodo.porcentaje)}}
                                            {{ form_widget(periodo.porcentaje) }}
                                        </div>
                                        <div class="NotasP alineacionPfct">
                                                <div class="subT alineacionPfct">
                                                    {{form_errors(periodo.actividades_min)}}
                                                    {{ form_widget(periodo.actividades_min) }}
                                                </div>
                                                <div class="subT alineacionPfct">
                                                    {{form_errors(periodo.actividades_max)}}
                                                    {{ form_widget(periodo.actividades_max) }}
                                                </div>
                                        </div>    
                                    </div>
                                    {{ form_rest(periodo) }}
                                </form>
                            {% endfor %}
                </div>
                <div class="fila">
                    <div id="botonesDow">
                        <ul>
                            <li>
                                <button class="botonesDw blanco" type="submit">Guardar</button>
                            </li>
                            <li>
                                <input  class="botonesDw blanco" type="button" value="Limpiar" onClick="limpiaForm('form')">
                            </li>
                            <li>
                                <input  class="botonesDw blanco ocultarOverlay" onClick='window.location.href="{{ path('ma13') }}"' type="button" value="Cancelar">
                            </li>
                        </ul>
                    </div>
                    <div class="Inicio" ><a href="{{ path('ma') }}" class="ajax" >Inicio</a></div>
                </div>
                        {% endif %}
                        {% else %}
                            <div>
                                Para poder realizar esta accion necesita iniciar el año escolar!
                            </div>
                    {% endif %}
			</div>
    <script>
    	$(document).on("ready", iniciar)

    	function iniciar(){
            constructor()
    		$("button[type='submit']").click(function() {
                console.log("click")
              $('form').each( function (index) {
                console.log(index)
                    var formData = $(this).serialize();
                    $.post($(this).attr('action'), formData, function( data ){
                        console.log( 'Form Sent! ' + index);
                    } );
                });
                return false;
            });
        }


                function constructor () {
                     $(document).keyup(operaEvento);
                }

                function operaEvento(){ 
                    valor = 0;
                    b = false;
                    $("input[name='cloud_sitebundle_periodotype[porcentaje]']").each( function(index){
                        inputValue = parseFloat( $(this).attr('value'))
                        console.log(inputValue)
                        if(!inputValue)
                        {
                            $(this).attr('value',0)
                            b = true;
                        }
                        else
                            valor += inputValue;
                    })

                    if(valor > 100 || b == true)
                    {
                        console.log("mayor : " + b)
                        $("input[name='cloud_sitebundle_periodotype[porcentaje]']").css(
                            'color','red')
                    }
                    else
                    {
                        console.log("menor: " + b)
                        $("input[name='cloud_sitebundle_periodotype[porcentaje]']").css(
                            'color','black')
                    }
                    console.log('valor : ' +valor)
                }
           
    </script>
        </div>

{% endblock %}