{% extends app.request.isXmlHttpRequest ? "cloudBundle::layout_ajax.html.twig" : "cloudBundle::layout.html.twig" %} 
{% block title %}
	MA131
{% endblock %}
{% block menu_principal %}
		<div id="ContAjax">
			<link rel="stylesheet" href="{{ asset('stylesheets/Ma1/Ma11/ma11.css') }}"/> 
            
			<div id="bloqueCgenerales" class="azul">
				<div id="contenidoIzq"> 
					<div class="botonRegresar">
						{% block back %}
							<a href="{{ path('ma13') }}" class="ajax"><img src="{{ asset('images/b_atras.png') }}"></a>
						{% endblock %}
					</div>
                   
				</div>
				<div id="contenidoDer">
					<div class="breadcumbr"><a href="{{ path('ma1') }}" class="ajax">Ajustes del sistema</a></div>
                     {% if requeriment is defined %}
                        {% if mje is defined %}
                            {{ mje }}
                        
                        {% elseif form is defined %}

                            <style type="text/css">
                                .periodo {
                                    height:50px; 
                                    width:100%;
                                    position:relative;
                                    margin-top: 35px;
                                }

                                .periodo div{
                                    width:16.5%;
                                    float: left;
                                }

                                .periodo div input{
                                    width:65px;
                                }
                            </style>
                                        {% for periodo in form %}
                                    <form action="{{ path('ma1311',{ id : loop.index }) }}" method="post">
                                            <div class="periodo" >
                                                <div>
                                                    {{ loop.index }}
                                                </div>
                                                <div>
                                                    {{form_errors(periodo.periodo_inicio)}}
                                                    {{ form_widget(periodo.periodo_inicio) }}
                                                </div>
                                                <div>
                                                    {{form_errors(periodo.periodo_final)}}
                                                    {{ form_widget(periodo.periodo_final) }}
                                                </div>
                                                <div>
                                                    {{form_errors(periodo.porcentaje)}}
                                                    {{ form_widget(periodo.porcentaje) }}
                                                </div>
                                                <div>
                                                    {{form_errors(periodo.actividades_min)}}
                                                    {{ form_widget(periodo.actividades_min) }}
                                                </div>
                                                <div>
                                                    {{form_errors(periodo.actividades_max)}}
                                                    {{ form_widget(periodo.actividades_max) }}
                                                </div>
                                            </div>
                                        {{ form_rest(periodo) }}
                                    </form>
                                        {% endfor %}
                                     <div class="linea">
                                <div id="botonesDow">
                                    <ul>
                                        <li>
                                            <button class="botonesDw blanco" type="submit">Guardar</button>
                                        </li>
                                        <li>
                                            <input  class="botonesDw blanco" type="button" value="Limpiar" onClick="limpiaForm('form')">
                                        </li>
                                        <li>
                                            <input  class="botonesDw blanco ocultarOverlay" type="button" value="Cancelar">
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        {% endif %}
                    {% else %}
                        <div>
                            Para poder realizar esta accion necesita iniciar el año escolar!
                        </div>
                    {% endif %}
				</div>
			</div>
		</div>
    <script>
    	$(document).on("ready", iniciar)

    	function iniciar(){
    		$("button[type='submit']").click(function() {
                console.log("click")
              $('form').each( function (index) {
                console.log(index)
                    var formData = $(this).serialize();
                    $.post($(this).attr('action'), formData, function( data ){
                        console.log( 'Form Sent! ' + index);
                    } );
                });
                return false;
            });
    		/*	 $.ajax(
                   {
                     url: "{{ path('ma131') }}",
                     type: 'GET',
                    success: function (r) {
                    	console.log(r) 
                    } 
        
                  });
*/
    	}
    </script>

{% endblock %}