{% extends app.request.isXmlHttpRequest ? "cloudBundle::layout_ajax.html.twig" : "cloudBundle::layout.html.twig" %} 
{% block title %}
	MA13
{% endblock %}
{% block menu_principal %}
	 <div class="cuerpoCentrado" id="contMetro">
		<div id="ContAjax">
			<link rel="stylesheet" href="{{ asset('stylesheets/Ma1/Ma11/ma11.css') }}"/> 
            
			<div id="bloqueCgenerales">
				<div id="contenidoIzq">
					<div class="botonRegresar">
						{% block back %}
							<a href="{{ path('ma1') }}" class="ajax"><img src="{{ asset('images/b_atras.png') }}"/></a>
						{% endblock %}
					</div>
                    <div id="formulario" style="display: none;">
                        <form action="{{path('ma132')}}" method="post" id="form">
                            <input type="text" name="niveles" id="niveles" />
                            <button type="submit">Ingresar</button>
                        </form>
                    </div>
					<div id="ContTitulo">
						<p>Ajustes Generales</p>
					</div>
					<div id="lineas">
						<img id="decoracionAjax" src="{{ asset('images/backgroudAjax.svg') }}"/>
					</div>
				</div>
				<div id="contenidoDer">
					<div class="breadcumbr"><a href="{{ path('ma1') }}" class="ajax">Ajustes del sistema</a></div>
					<div id="menuAux">
						<ul>
							<li><a href="{{ path('ma131') }}" class="ajax" >Peridos academicos</a></li>
							<li><a href="{{ path('ma132') }}" class="iniciar">Niveles y grados</a></li>
							<li><a href="#" class="ajax" >Configurar cursos</a></li>
							<li><a href="{{ path('ma13') }}" class="ajax" >Gestion Asignatura</a></li>
						</ul>
					</div>
                    <div class="Inicio" ><a href="{{ path('ma') }}" class="ajax" >Inicio</a></div>
				</div>
			</div>
		</div>
        
		 {% block notificaciones %}         
                {% include "cloudBundle::layout_notificaciones.html.twig" %}
             {% endblock notificaciones %}
	</div>
    <script type="text/javascript" src="{{asset('javascripts/jquery.js')}}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            console.log('Soporte jQuey');
            var estado="{{estado|default('si')}}";
            $('.iniciar').click(function(e){
                e.preventDefault();
                if(estado=='nulo'){
                    console.log('mostrar formulario')
                    $('#formulario').css('display','block')
                }else{
                    window.location="{{path('ma132')}}"
                }
            })
            /*$('#form').submit(function(e){
                e.preventDefault();
                var ok=$('#form').serialize();
                alert(ok);
            })*/
        })
    </script>
    
{% endblock %}