				<div class="txt">
                    <div class="formOverlay lima">
                        <form action="{{ path('ma13431', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
                            <div class="linea">
                                <div class="titulo">
                                    <p>Ingresar Nombre del nivel</p>
                                </div>
                            </div>
                            <div class="linea">
                                <div class="entrada">
                                   {{form_errors(edit_form.name)}}
                                    {{form_widget(edit_form.name)}}
                                </div>
                                {{ form_rest(edit_form) }}
                            </div>
                            <div class="linea">
                                <div id="botonesDow">
                                    <ul>
                                        <li>
                                            <button class="botonesDw blanco" type="submit">Guardar</button>
                                        </li>
                                        <li>
                                            <input  class="botonesDw blanco" type="button" value="Limpiar" onClick="limpiaForm('#formularioInst form')">
                                        </li>
                                        <li>
                                            <input  class="botonesDw blanco ocultarOverlay" type="button" value="Cancelar">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
				</div>
                    <script>
                        $(document).ready(function(){
                            var estado="{{ estado|default('si')}}";
                            $('.iniciar').click(function(e){
                                e.preventDefault();
                                if(estado=='nulo'){
                                    console.log('mostrar formulario')
                                    $('.overlay').css('display','block')
                                }
                            })

                        $(".ocultarOverlay").click( function(){
                          $(".overlay").css("display","none")
                        })
                        })
                    </script>