{% extends app.request.isXmlHttpRequest ? "cloudBundle::layout_ajax.html.twig" : "cloudBundle::layout.html.twig" %} 
{% block title %}
	MA134
{% endblock %}
{% block menu_principal %}
		<div id="ContAjax">
           <link rel="stylesheet" href="{{ asset('stylesheets/Ma1/Ma1322/ma1322.css') }}"/>
            <script >
                (function($){
                $(window).load(function(){
                    $("#content_1").mCustomScrollbar({
                        horizontalScroll:true,
                        scrollButtons:{
                            enable:false,
                            scrollType:"continuous",
                            scrollSpeed:20,
                            scrollAmount:40
                        },
                        advanced:{
                            autoExpandHorizontalScroll:true,
                        },
                    });
                });
            })(jQuery);
            </script>
			<div id="bloqueCgenerales" class="azul">
                <div class="fila">
					<div class="botonRegresar">
						{% block back %}
							<a href="{{ path('ma132') }}" class="ajax" >
                                <img src="{{ asset('images/b_atras.png') }}"/>
                            </a>
						{% endblock %}
					</div>
                    {# Esto no se que es#}
                    {% if mje is defined %}
                        <div>
                            <p>{{ mje }}</p>
                        </div>
                    {% else %}
                    {# MMM Preguntar..#}
                    <div id="ContTitulo">
                        <p>Asignar Grados</p>
                    </div>
					<div class="breadcumbr">
                        <a href="{{ path('ma11') }}" class="ajax" >Ajustes del Sistema</a>
                    </div>                    
                </div>
                <div class="fila">
                    <div id="content_1" class="mCustomScrollbar _mCS_1">
                        {% for area in areas %}
                            {% if area.name != "Area" %}
                                <div class="nivel letra">
                                    <a href="{{ path('ma1341',{ 'id':area.id }) }}" data-grado="{% if area.areaId|length > 0 %}1{% else %}0{% endif %}" data-alt-url="{{ path('ma1343',{ 'id':area.id }) }}">
                                        <p class="titulocajas primera">{{area.name}}</p>
                                        <p class="signoUp textoBlanco">{{area.name}}</p>
                                    </a>
                                </div>
                                {% else %}
                                            <div class="nivel">
                                                <a href="{{ path('ma1341',{ 'id':area.id }) }}" data-grado="{% if area.areaId|length > 0 %}1{% else %}0{% endif %}" data-alt-url="{{ path('ma1343',{ 'id':area.id }) }}">
                                                    <p class="signoUp">+</p>
                                                    <p class="titulocajas primera">{{area.name}}</p>
                                                </a>
                                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <script type="text/javascript">
                        $(document).on("ready",iniciar);
                            function iniciar(){
                                $(".letra .primera").each( function(index){
                                    var nombre = $(this).text();
                                    $(this).html( nombre[0] )
                                })
                                $(".nivel a").click( function(e){
                                    e.preventDefault();
                                    var objeto = $(this).find(".titulocajas");
                                    console.log( $(objeto).text() )
                                    if( $(objeto).text() == "Area")
                                    {
                                        
                                        $.ajax({
                                           url:  $(this).attr("data-alt-url"),
                                            type: 'POST',
                                            success: function (r) {
                                              $(".overlay").html(r);
                                               $('.overlay').css('display','block');
                                          } 
                                        });
                                        console.log( $(this).attr("data-alt-url") );
                                    }
                                    else
                                    if($(this).attr("data-grado") == 1){
                                        window.location.href = $(this).attr("href");
                                    }
                                    else
                                    {
                                        $(".overlay").css("display","block")
                                        $(".overlay form").attr("action", $(this).attr("href") );
                                    }
                                })
                            }
                    </script>
                    {% endif %}
                </div>
                <div class="overlay">
                    <div class="formOverlay lima">
                        <form action="#" method="post">
                            <div class="linea">
                                <div class="titulo">
                                    <p>Ingresar el numero de Asignaturas</p>
                                </div>
                            </div>
                            <div class="linea">
                                <div class="entrada">
                                   <input type="text" name="numsede">
                                </div>
                            </div>
                            <div class="linea">
                                <div id="botonesDow">
                                    <ul>
                                        <li>
                                            <button class="botonesDw blanco" type="submit">Guardar</button>
                                        </li>
                                        <li>
                                            <input  class="botonesDw blanco" type="button" value="Limpiar" onClick="limpiaForm('#formularioInst form')">
                                        </li>
                                        <li>
                                            <input  class="botonesDw blanco ocultarOverlay" type="button" value="Cancelar">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                    <script>
                        $(document).ready(function(){  
                            $(".ocultarOverlay").click( function(){
                            $(".overlay").css("display","none")
                        })
                        })
                    </script>
                </div>
			</div>
		</div>
{% endblock %}